@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
  font-family: "popular-cafe";
  src: url('../../assets/images/PinkPencilDemo.ttf');
}
@font-face {
  font-family: "pink-pencil";
  src: url('../../assets/images/PinkPencilDemo.ttf');
}
@font-face {
  font-family: "negaroa";
  src: url('../../assets/images/Negaroa-Regular.ttf');
}
@font-face {
  font-family: "costarica";
  src: url('../../assets/images/costarica.otf');
}
@font-face {
  font-family: "dongpora";
  src: url('../../assets/images/Dongpora-BF65c3a46d6cc22.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--basicBlack);
  font-family: pink-pencil;
}
html,body{
  height: 100%;
  width: 100%;
}
h1{
  font-size: 50px;
  /* font: 50px "dongpora"; */
  text-align: center;
  color: blue;
}
input{
  height: 50px;
}
button{
  height: 5;
}