@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
  font-family: "popular-cafe";
  src: url('../../assets/images/PinkPencilDemo.ttf');
}
@font-face {
  font-family: "pink-pencil";
  src: url('../../assets/images/PinkPencilDemo.ttf');
}
@font-face {
  font-family: "negaroa";
  src: url('../../assets/images/Negaroa-Regular.ttf');
}
@font-face {
  font-family: "costarica";
  src: url('../../assets/images/costarica.otf');
}
@font-face {
  font-family: "dongpora";
  src: url('../../assets/images/Dongpora-BF65c3a46d6cc22.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,body{
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}
h2{
  font-size: 24px; /* Default font size */
}

@media (min-width: 640px) {
  h2 {
    font-size: 30px; /* Larger font size for sm screens and up */
  }
}